"$schema" = "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json"
final_space = true
version = 3

[[blocks]]
type = "prompt"
alignment = "left"

    [[blocks.segments]]
    type = "path"
    style = "powerline"
    powerline_symbol = "î‚°"
    foreground = "White"
    background = "Blue"

        [blocks.segments.properties]
        style = "folder"    
