// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

// 1440p monitor configuration
output "DP-3" {
    mode "2560x1440@180.002" // Set resolution and refresh rate
    scale 1 // No scaling (use 2 for HiDPI)
}

output "DP-2" {
  off
}

// Need to set this up later with symlinking
/- output "DP-2" {
    mode "3440x1440"
    scale 1
}
